<%- include('../../partials/header.ejs'); %>
    <%- include('../../partials/homenavbar.ejs'); %>

        <body>
            <div class="container">
                <br>
                <% result.articles.rows.forEach(article=> { %>
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">
                                <%=article.title%>
                            </h3>
                            <br>
                            <a href="/<%=article.slug%>" class="stretched-link">Ler Artigo</a>
                        </div>
                    </div>

                    <% })%>

            </div>
        </body>
        <%- include('../../partials/footer.ejs'); %>