<%- include('./partials/header.ejs'); %>
    <%- include('./partials/homenavbar.ejs'); %>

        <body>
            <div class="container">
                <br>
                <div class="card">
                    <h2 class="card-header"> <%=article.title%></h2>
                    <div class="card-body">
                      <p class="card-text"> <%-article.body%></p>
                    </div>
                  </div>
                <br> <br>
            </div>

        </body>
        <%- include('./partials/footer.ejs'); %>