<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Perguntas e Respostas</title>
</head>

<body>
    <img src="/img/logo.png" alt="">
    <h1>Perguntas e Respostas</h1>
    <span>
        <%= nome %> <br>
            <%= lang %> <br>
                <%= empresa %>
                    <% if(msg){%>
                        <h3>Error msg</h3>
                        <%}%>
    </span>
    <% prod.forEach((prod)=>{ %>
        <hr>
        <p>Nome:<%=prod.nome%>
        </p>
        <p>Preço:<%=prod.preco%>
        </p>
        <%}) %>
</body>

</html>